*{
    margin: 0;
    padding: 0;
}
h1{
   color:#023e8a; 
}

body{
    text-align: center;
    background-color: #00b4d8;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width : 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.4);
    font-size: 12vmin;
    color: #023e8a;
    background-color:#0077b6 ;
}

#restart{
    color: white;
    padding: 1rem;
    font-size: 1rem;
    background-color: #023e8a;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(12, 35, 210, 0.4);
}

#startgame{
    color: white;
    gap: 1.5vmin;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: #023e8a;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(12, 35, 210, 0.4);
}

#new-game{
    color: white;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: #023e8a;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(12, 35, 210, 0.4);
}

.winner-msg{
    margin-top: 3vmin;
    color: #03045e;
    font-size: 2rem;
    text-shadow: 0 0 2px #fefefe;
}

.hide{
    display: none;
}

.player-msg{
        margin-top: 3vmin;
        color: #03045e;
        font-size: 2rem;
        text-shadow: 0 0 2px #fefefe;
}